body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(143, 108, 108);

}
h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
h2,h3,h4,h5{
  text-align: center;
  text-transform: uppercase;

}
a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img{
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  border: 3px solid white;
  border-radius: 24px;
}

.img-2{
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  border: 3px solid white;
  border-radius: 24px;
}
.img-3{
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 3px solid white;
    border-radius: 24px;
}
.img-4{
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 3px solid white;
    border-radius: 24px;
}
.img img{
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border: 3px solid white;
    border-radius: 24px;
}